*{
    padding: 10px;
}
body {
    border: 1px solid black;
    margin: 0 auto;
    width: 900px;
}

.pad {
    display:flex;
    background-color:lightcoral;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
}

.box {
    text-align: center;
    width:340px;
    height:auto;
    border: 1px solid red;
    background-color:aquamarine;
    color:green;
}

.div-box {
    text-align: center;
    width:340px;
    height:auto;
    border: 1px solid lawngreen;
    background-color:lightseagreen;
    color:black;
}

 p {
    text-align: center;
    border: 1px solid yellow;
    background-color:blueviolet;
    color:red;
}

.list{
    text-align: center;
    border: 1px solid black;
    background-color:lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    line-height: 30px;
 }
